<!doctype html>
<head></head>
<body>
  <li><a href="/v_all">ALL</a></li>
  edge {{key}}
  <hr/>
  <li><a href="/v/{{puid}}">
      {{puid}}</a></li>
  <li>{{name}}</li>
  <li>{{ndx}}</li>
  <li><a href="/v/{{cuid}}">
      {{cuid}}</a></li>
</body>
