<!doctype html>
<head></head>
<body>
  <li><a href="/v_all">ALL</a></li>
  <h1>{{d['__uuid']}}</h1>
  <hr/> V
  %for kk,vv in d.get('v',{}).iteritems():
  <li>{{kk}} = {{vv}}</li>
  %end
  <hr/> E
  %for kk,vv in d.get('e',{}).iteritems():
  <li>{{kk}} = {{vv}}</li>
  %end
  <hr/> K 
  %for kk,vv in d.get('k',{}).iteritems():
  <li>{{kk}} = {{vv}}</li>
  %end
  <hr/>
  <li>BLAH9</li>
</body>
